
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        hello  web!!!  <br />
        hello  mvc!!!
        <input type="button" value="Hello" />
    </div>
</body>
</html>
